# Ambiente virtual e IDE
.venv
.idea

# Cobertura e relatórios
.coverage
htmlcov
coverage.xml
bandit-report.json
flake8-report.json
mypy-report.xml
pylint-report.json
ruff-report.json

# SonarQube
sonar-plugins

# Build e metadados
*.egg-info/
dist/
build/

# Cache Python
__pycache__/
*.pyc
